# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.vscode

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.classpath
.project
TODO.txt
lib/
litresbot.properties
*.log
*.lck
/flibooks/
litresbot.jar
commit.bat
run.bat
